


   .grid-container {
       display: grid;
       grid-column: 1fr 1fr 1fr;
       grid-row: 1fr 1fr 1fr;


       .cliente{
     
        grid-area: 1/ 1 / 1 / 4;
        @include grid-cliente1 ( flex, column,center, center, cover);
        background-image: url(../images/prueba.jpg);
      
       }
      
       h1{
        font-style:oblique ; 
       }
       
       h3{
        color: black;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        align-items: center;
        display:contents;
       }
      
       .bayer{
          
           grid-area: 2 / 1 / 2 / 1;
           @extend %flex;
       }
       
       .telecom{
       
       grid-area: 2 / 2 / 2 / 2;
       @extend %flex;
       
       }
       
       .confiarh{
        
        grid-area: 2 / 3 / 2 / 3;
        @extend %flex;
       }
       
       .starbucks{
       
       grid-area: 3 / 1 / 3 / 1;
       @extend %flex;
       
       }
       
       .adecco{
       
       grid-area: 3 / 2 / 3 / 2;
       @extend %flex;
       
       }
       
       .pwc{
      
       grid-area: 3 / 3 / 3 / 3;
       @extend %flex;
       }


       }
       
